---
import Layout from "../layouts/Layout.astro";
import Boton from "../components/Boton.astro";
import Profile from "../components/Profile.astro";
import Kofi from "@src/components/Kofi.astro";
import LittleMissCamEmbed from "@src/components/LittleMissCamEmbed.astro";
---

<Layout>
  <main>
    <Profile />
    <Boton />
    <LittleMissCamEmbed />
  </main>
</Layout>
